block append content
    #clock
        div(class="clock md")
            span(class="name") Hora
            span(class="time") --:--
            span(class="date")
    
block append scripts
      script(src='/static/js/clock.js')
