//- extends menu

block append content
    div(class="controls")
        for device in devices
            div(class=device.class)
                span(class="name") #{device.name}
                if device.data
                    span(class="data") #{device.data} 

block append scripts
      script(src='/static/js/controls.js')

