extends layout

//- include forecast.pug

block append content
    #controls
        for device in devices
                div(class=device.class)
                    

block append scripts
      script(src='/static/js/dashboard.js')

