block append content
    #weather
        div(class="forecast")
            div(class="today")
                span(class="name") Meteo    
    
block append scripts
      script(src='/static/js/forecast.js')
