block append content
    #weather
        div(class="forecast lg")
            div(class="today")
                span(class="name") Hoy

            div(class="tomorrow")  
                span(class="name") Mañana
                
    
block append scripts
      script(src='/static/js/forecast.js')