mixin footer()
  div(class="ticker-wrap")
    div(class="ticker") 
      //- div(class="ticker__item") Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      //- div(class="ticker__item") Vice mlkshk crucifix beard chillwave meditation hoodie asymmetrical Helvetica. 
      //- div(class="ticker__item") Gluten-free mumblecore chambray mixtape food truck.
