body {
  background-color: $backgroundColor;
  font-family: $fontFamily;
}

#controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  align-content: flex-start;
  align-items: flex-start;
}