.clock {
  @extend %container;
  background-color: lighten($backgroundColor, 20%);
  font-size: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;


   .time {
    font-weight: 500;
    color: $white;
    font-size: 2em;

    @include respond-to(handhelds) {
      font-size: 1.4em;
    }
  }

  .date {
    color: $white;
    font-size: 0.65em;
    margin-bottom: 10px;
    @include respond-to(handhelds) {
      font-size: 1.4em;
    }
  }
}
