$buttonColor: rgb(52,52,52);
$backgroundColor: rgb(26,26,26);
$white: rgb(200,200,200);
$smoke: rgb(120,120,120);
$onGreen: rgb(128,211,11);
$onBlue: rgb(19,152,250);
$onOrange: rgb(251,135,11);
$onRed: rgb(250, 62, 10);
$onCyan: rgb(10, 226, 250);