%icon {
    @include positionXY(50%, 60%);
    font-size: 2em;
    color: $smoke;
    font-family: $iconFontFamily;
    font-weight: 900;

    @include respond-to(handhelds) {
      font-size: 1.4em;
    }
  }
  
  %name {
    @include positionXY(50%, 20%);
    font-size: 1em;
    text-align: center;
    color: $white;
    width: 90%;

    @include respond-to(handhelds) {
      font-size: 0.8em;
    }
  }
  
  %container {
    position: relative;
    width: $buttonSize;
    height: $buttonSize;
    background-color: $buttonColor;
    float: left;
    margin-left: $nbspSize;
    margin-top: $nbspSize;
    box-sizing: border-box;

    @include respond-to(handhelds) {
      width: $buttonSizeMobile;
      height: $buttonSizeMobile;
    }

    &:after {  @extend %icon }

    .name { @extend %name }
    
    &.md {
      width: (2 * $buttonSize) + $nbspSize;

      @include respond-to(handhelds) {
        width: (2 * $buttonSizeMobile) + $nbspSize;
      }

      &:after {
        font-size: 3em;
        top: 55%;
      }
  
    }

    &.lg {
      width: (2 * $buttonSize) + $nbspSize;
      height: (2 * $buttonSize) + $nbspSize;  

      @include respond-to(handhelds) {
        width: (2 * $buttonSizeMobile) + $nbspSize;
        height: (2 * $buttonSizeMobile) + $nbspSize; 
      }

      &:after {
          font-size: 3em;
          top: 55%;
        }
  
    }

    &.disabled {
      background-color: darken($buttonColor, 5%);
      
      .name {
        color: lighten($buttonColor, 5%);
      }

      &:after {
        color: lighten($buttonColor, 5%);
      }

      &:before {
        @extend %icon;
        @include positionXY (15%, 85%);
        font-size: 0.9em;
        content: "\f111";
        color: $onRed;
      }
    }
  }