$clear_day_icon: "/static/icons/weather/Sun.svg";
$clear_night_icon: "/static/icons/weather/Moon.svg";
$rain_icon: "/static/icons/weather/Cloud-Rain.svg";
$snow_icon: "/static/icons/weather/Cloud-Snow.svg";
$sleet_icon: "/static/icons/weather/Cloud-Hail-Alt.svg";
$wind_icon: "/static/icons/weather/Wind.svg";
$fog_icon: "/static/icons/weather/Cloud-Fog.svg";
$cloudy_icon: "/static/icons/weather/Cloud.svg";
$partly_cloudy_night_icon: "/static/icons/weather/Cloud-Moon.svg";
$partly_cloudy_day_icon: "/static/icons/weather/Cloud-Sun.svg";
$thermometer_0_icon: "/static/icons/weather/Thermometer-Zero.svg";
$thermometer_25_icon: "/static/icons/weather/Thermometer-25.svg";
$thermometer_50_icon: "/static/icons/weather/Thermometer-50.svg";
$thermometer_75_icon: "/static/icons/weather/Thermometer-75.svg";
$thermometer_100_icon: "/static/icons/weather/Thermometer-100.svg";
$umbrella_icon: "/static/icons/weather/Umbrella.svg";
