.sensor {
    @extend %container;
    background-color: lighten($backgroundColor, 20%);
  }
  
  .sensor.hall {
    
    &:before {
      @extend %icon;
      @include positionXY(33%, 60%);
      content: "\f30b";
    }
    
    &:after {
      @extend %icon;
      @include positionXY(66%, 60%);
      content: "\f30a";
    }
    
  }

  .sensor.hall.active {
    
    &:before {
      content: "\f30a";
      color: $onOrange;
    }
    
    &:after {
      content: "\f30b";
      color: $onOrange;
    }
   
  }
  
  .sensor.lock {
    
    &:after {
      @extend %icon;
      content: "\f023";
    }
    
  }
  
  .sensor.lock.active {
    
    &:after {
      content: "\f3c1";
      color: $onOrange;
    }
   
  }
  
  .sensor.dht {
    .data {
      @include positionXY(40%,60%);
      font-weight: 600;
      color: $onBlue;
      font-size: 2em;

      @include respond-to(handhelds) {
        font-size: 1.4em;
      }
    }
    
    &:after {
      @extend %icon;
      font-family: $fontFamily;
      font-weight: 400;
      font-size: 1.5em;
      @include positionXY(75%,60%);
      content: "℃";

      @include respond-to(handhelds) {
        font-size: 1em;
      }
    }
    
  }
  
  .sensor.current {
    .data {
      @include positionXY(40%,60%);
      font-weight: 600;
      color: $white;
      font-size: 2em;
    }
    
    &:after {
      @extend %icon;
      font-family: $fontFamily;
      font-weight: 400;
      font-size: 1.5em;
      @include positionXY(75%,60%);
      content: "KWh";

      @include respond-to(handhelds) {
        font-size: 1em;
      }
    }
    
  }
  